<a href="https://colab.research.google.com/github/amitthakur2013/Sorting_tech_Interview_prep/blob/master/interview_prog_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Insertion_Sort
l=list(map(int,input().split()))

for i in range(1,len(l)):
  value=l[i]
  hole=i
  while(hole > 0 and value < l[hole-1]):
    l[hole]=l[hole-1]
    hole-=1
  l[hole]=value
l

8 7 6 2

[2, 6, 7, 8]

In [3]:
#Bubble Sort
l=list(map(int,input().split()))

n=len(l)

for i in range(0,n-1):
  flag=0
  for j in range(0,n-i-1):
    if l[j+1]<l[j]:
      l[j],l[j+1]=l[j+1],l[j]
      flag=1
  if flag==0:
    break
l

8 7 6 5 1

[1, 5, 6, 7, 8]

In [7]:
# Selection Sort
l=[8,7,6,5]
n=len(l)
for i in range(0,n):
  min_idx=i
  for j in range(i+1,n):
    if l[j]<l[min_idx]:
      min_idx=j

  l[i],l[min_idx]=l[min_idx],l[i]
l

[5, 6, 7, 8]

In [15]:
#Fibonacci using iteration 
n=20
a,b=0,1
print(a,"",b,end=" ")
for i in range(3,n+1):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

0  1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [20]:
# Fibonacci using Recursion
def fibo(n):
  if n==0 or n==1:
    return n 
  else:
    return fibo(n-1)+fibo(n-2)
fibo(5)

5

In [25]:
# Fibonacci using db bottom up
n=20
a=[0 for _ in range(n)]
a[1]=1
for i in range(2,n):
  a[i]=a[i-1]+a[i-2]
a[19]

4181